{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer twcss-overflow-hidden twcss-text-xl twcss-font-light twcss-tracking-tight twcss-bg-[#eeeeee] twcss-min-h-40 section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}

  <div
    class="twcss-grid twcss-grid-cols-[37.5%_25%_37.5%]{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} page-width"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div>
      <h4 class="twcss-font-[inter] twcss-text-xl twcss-font-semibold twcss-mb-2">
        {{ section.settings.left_footer_links.title }}
      </h4>
      <ul class="twcss-grid twcss-w-2/3 twcss-grid-cols-2 twcss-gap-y-2 twcss-gap-x-4 twcss-justify-start">
        {%- for link in section.settings.left_footer_links.links -%}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <small class="twcss-self-end twcss-text-lg">
      &copy; Copyright {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url -}}
    </small>
    <div class="twcss-relative">
      <div class="twcss-flex twcss-flex-col twcss-justify-between twcss-h-full">
        <div class="!twcss-block">
          {%- if section.settings.show_social and has_social_icons -%}
          <h4 class="twcss-capitalize twcss-font-[inter] twcss-text-xl twcss-font-semibold twcss-mb-2">
            Follow us
          </h4>
          {%- render 'social-icons', class: '!twcss-justify-start *:twcss-m-[-1.1rem]' -%}
          {%- endif -%}
        </div>
        <ul class="twcss-flex twcss-gap-6">
        {%- for link in section.settings.right_footer_links.links -%}
          <li class="twcss-underline twcss-decoration-1">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
        </ul>
      </div>
      <div class="twcss-absolute twcss--z-10 twcss--top-10 twcss--right-40 twcss--left-56 twcss--bottom-8
        twcss-bg-[url('https://3599ec-0d.myshopify.com/cdn/shop/files/SAM.STYLE_LOGO.png?v=1724649074&width=765')]
        twcss-opacity-40 twcss-invert" />
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "left_footer_links",
      "label": "Left footer links",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "right_footer_links",
      "label": "Right footer links",
      "default": "main-menu"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
